{
  "presets": [ "@babel/preset-env", "@babel/preset-react" ],
  "plugins": [[ "@babel/plugin-transform-runtime", { "version": "^7.15.4" } ]],
  "env": {
    "commonjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "exclude": ["@babel/plugin-proposal-object-rest-spread"],
            "modules": "commonjs",
            "targets": "node >= 12"
          }
        ],
        [ "@babel/preset-react", { "useSpread": true } ]
      ]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "exclude": ["@babel/plugin-proposal-object-rest-spread"],
            "modules": false,
            "targets": { "esmodules": true }
          }
        ],
        [ "@babel/preset-react", { "useSpread": true } ]
      ]
    }
  }
}
