{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "defaults"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,
        "version": "7.15.8"
      }
    ]
  ],
  "env": {
    "commonjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "exclude": ["@babel/plugin-proposal-object-rest-spread"],
            "modules": "commonjs",
            "targets": "node 12"
          }
        ],
        [
          "@babel/preset-react",
          {
            "useSpread": true
          }
        ]
      ]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "exclude": ["@babel/plugin-proposal-object-rest-spread"],
            "modules": false,
            "targets": { "esmodules": true }
          }
        ],
        [
          "@babel/preset-react",
          {
            "useSpread": true,
          }
        ]
      ]
    }
  }
}
